@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
 
    

 --cor-principal: #C267B1;
    --cor1:#c267b1;
    --cor2:#6f6a8b;
    --cor3:#a39bd1;
    --cor4:#dad6e9;
    --preto:#000000;
    --branco:#FFFFFF;
}

    
body {
    font-size: 1rem;
    font-family: 'Montserrat'; /*o nome da sua fonte*/
}

section {
    padding-bottom: 5rem ;
}

  .display-4 {
    text-shadow: -5px 5px  var(--cor-principal);
  }

  #estetica profissional {
    position: relative;
    padding-right: 5rem;
    margin-top: 3rem;
    background: var(--cor2);
    background-size: 180px 180px; /* Ajuste o tamanho conforme o necesario*/
  }

  #cestetica .container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1/* Garante que o conteudo fica acima do backgrooud se houverem 
    ;
    
  }


  

  
















#contato {
    background: var(--cor-principal);
    background-size: cover;
    padding: 4rem 0;
}

.formulario{
    background-color: var(--branco);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-weight: bold;
}

.formulario button {
    background-color: var(--cor3);
    border: none;
    font-weight: bold;
}

.form-control {
    background-color: var(--cor2);
}